#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### Ans:-

A database is an organized collection of data that is stored and managed using software. It allows users to create, read, update, and delete data in a structured and organized manner. Databases are used in various applications, such as websites, mobile apps, e-commerce, healthcare, and finance.

SQL and NoSQL are two different types of databases.
SQL (Structured Query Language) databases are relational databases that use a tabular schema to store and manage data. SQL databases use the SQL language to manage and manipulate data. SQL databases have a defined schema that outlines the structure of the database and the relationships between tables. SQL databases are highly structured and are ideal for applications that require strict data consistency, such as financial transactions, e-commerce, and banking.

NoSQL (Not only SQL) databases are non-relational databases that store data in a document-oriented or key-value pair format. NoSQL databases do not have a fixed schema and can store data in a flexible and unstructured way. NoSQL databases are ideal for applications that require high scalability and performance, such as social media, gaming, and big data analytics.
The main differences between SQL and NoSQL databases are:

Data Model: SQL databases use a tabular schema, while NoSQL databases use a document-oriented or key-value pair format.

Schema: SQL databases have a defined schema that outlines the structure of the database, while NoSQL databases do not have a fixed schema.

Scalability: NoSQL databases are highly scalable and can handle large amounts of data, while SQL databases are less scalable and are better suited for applications that require strict data consistency.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### Ans:-

DDL stands for Data Definition Language and is used to define the structure and layout of a database. DDL commands are used to create, modify, and delete database objects such as tables, indexes, and views.


CREATE: This command is used to create a new database object, such as a table, view, or index.Foe eg to create a new table named customers,we apply the following code:-

CREATE TABLE customers (
  id INT PRIMARY KEY,
 
 name VARCHAR(50),
 
 email VARCHAR(50)

);

DROP: This command is used to delete an existing database object, such as a table, view, or index. For example, the following SQL statement deletes the "customers" table:

DROP TABLE customers;

ALTER: This command is used to modify the structure of an existing database object, such as a table, view, or index. For example, the following SQL statement adds a new column named "phone" to the "customers" table:

ALTER TABLE customers ADD phone VARCHAR(20);

TRUNCATE: This command is used to delete all the data from an existing table while keeping its structure intact. For example, the following SQL statement deletes all the data from the "customers" table:

TRUNCATE TABLE customers;

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data in a database. DML commands are used to insert, update, and delete data from tables in a database.

Here are some of the commonly used DML commands:

INSERT: This command is used to insert new data into a table. For example, the following SQL statement inserts a new row into the "customers" table:

INSERT INTO customers (id, name, email) VALUES (1, 'John Cena', 'johncena@wwe.com');
UPDATE: This command is used to modify existing data in a table. For example, the following SQL statement updates the email address of the customer with id=1:

UPDATE customers SET email = 'johncena@wwe.com' WHERE id = 1;

DELETE: This command is used to delete data from a table. For example, the following SQL statement deletes the customer with id=1 from the "customers" table:

DELETE FROM customers WHERE id = 1;

In summary, DML commands are used to manipulate data in a database. The INSERT command is used to insert new data into a table, the UPDATE command is used to modify existing data in a table, and the DELETE command is used to delete data from a table.

#### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL commands are used to query the database and retrieve specific data from one or more tables.

The most commonly used DQL command is SELECT, which is used to retrieve data from one or more tables in a database based on specified criteria.

Here is an example of how the SELECT command can be used:

SELECT * FROM customers WHERE age > 25;

In this example, the SELECT command is used to retrieve all columns (*) from the "customers" table where the age of the customer is greater than 25. The result of this query would be a set of rows from the "customers" table where the age column is greater than 25.

Here is another example that demonstrates how the SELECT command can be used with multiple tables:


SELECT customers.name, orders.order_date, orders.total_amount
FROM customers
INNER JOIN orders ON customers.id = orders.customer_id
WHERE customers.age > 25;

In this example, the SELECT command is used to retrieve the name of the customer, order date, and total amount of each order from the "customers" and "orders" tables. The tables are joined using the INNER JOIN clause, which specifies the relationship between the two tables based on the customer_id column in the "orders" table and the id column in the "customers" table. The WHERE clause filters the results to only include customers who are over the age of 25.

In summary, the SELECT command is used to retrieve data from one or more tables in a database based on specified criteria. The SELECT command can be used with single or multiple tables and can be customized to include or exclude specific columns, filter data based on certain conditions, and join tables to combine related data.

#### Q5. Explain Primary Key and Foreign Key.

In a relational database, a primary key and foreign key are used to establish a relationship between two tables.

A primary key is a column or set of columns in a table that uniquely identifies each row in the table. The primary key ensures that each row in the table is unique and provides a way to access and modify data in the table. For example, in a "customers" table, the primary key might be the "id" column, which would ensure that each customer has a unique identifier.

A foreign key is a column or set of columns in a table that refers to the primary key of another table. The foreign key establishes a relationship between two tables by ensuring that each value in the foreign key column(s) of one table corresponds to a value in the primary key column(s) of another table. For example, in an "orders" table, the "customer_id" column might be a foreign key that refers to the primary key "id" column in the "customers" table. This would allow the "orders" table to associate each order with the customer who placed it.

To summarize, a primary key is a unique identifier for each row in a table, while a foreign key is a column or set of columns in a table that refers to the primary key of another table, establishing a relationship between the two tables. The use of primary and foreign keys ensures data consistency and integrity in a relational database.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
import mysql.connector

# establish a connection to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="databasename"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a SQL query
mycursor.execute("SELECT * FROM customers")

# fetch the results of the query
result = mycursor.fetchall()

# print the results
for row in result:
  print(row)

ModuleNotFoundError: No module named 'mysql'

The cursor() and execute() methods are used in Python when working with databases to execute SQL queries and retrieve results.

The cursor() method creates a cursor object, which allows us to interact with the database and execute SQL statements. The cursor object provides methods for executing SQL statements, fetching results, and committing transactions.

The execute() method is used to execute SQL statements on the database through the cursor object. The SQL statement is passed as a parameter to the execute() method. The execute() method returns the number of rows affected by the SQL statement, which can be used to check whether the statement was successful.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM clause: The FROM clause specifies the table or tables from which the data will be selected.

JOIN clause: If the query involves joining multiple tables, the JOIN clause is used to specify how the tables are to be joined.

WHERE clause: The WHERE clause filters the rows based on specified conditions.

GROUP BY clause: The GROUP BY clause is used to group the selected rows by one or more columns.

HAVING clause: The HAVING clause filters the grouped rows based on specified conditions.

SELECT clause: The SELECT clause selects the columns to be returned in the result set.

DISTINCT clause: The DISTINCT clause removes duplicates from the result set.

ORDER BY clause: The ORDER BY clause orders the result set based on specified columns.

LIMIT clause: The LIMIT clause limits the number of rows returned in the result set.

It is important to note that not all of these clauses are required for every SQL query, and some of them may be optional or omitted depending on the specific requirements of the query. A