#### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_series = pd.Series(my_list)

print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

#### Q3. Create a Pandas DataFrame that contains the following data:
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female
Then, print the DataFrame.

In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data).set_index('Name', drop=True)

print(df)

        Age  Gender
Name
Alice    25  Female
Bob      30    Male
Claire   27  Female

#### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame in pandas is a two-dimensional table-like data structure with columns of potentially different types. It is similar to a spreadsheet or a SQL table, where data is organized in rows and columns. Each column in a DataFrame is a Pandas Series.

Pandas Series is a one-dimensional labeled array capable of holding data of any type. It is similar to a column in a table or a spreadsheet. A Series has a single column of data with an index.

The main difference between DataFrame and Series is that a DataFrame is a 2-dimensional data structure, whereas a Series is a 1-dimensional data structure.

In [4]:
import pandas as pd

# Create a dictionary with some data
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

# Create a DataFrame using the dictionary
df = pd.DataFrame(data)

# Create a Series using one column of the DataFrame
age_series = df['Age']

# Print the DataFrame and Series
print(df)
print(age_series)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
0    25
1    30
2    27
Name: Age, dtype: int64

#### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

#### There are many functions available in Pandas to manipulate data in a DataFrame. Here are some common functions:

In [1]:
import pandas as pd
df=pd.read_csv('pddata.csv')# read csv files

In [2]:
df.head(4) # prints first 4 rows of the DataFrame

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"7,57,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"6,74,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...

In [3]:
df.tail(3) # print last three rows

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
25,2021,Level 1,99999,All industries,Dollars,H35,Surplus per employee count,Financial ratios,"54,700",ANZSIC06 divisions A-S (excluding classes K633...
26,2021,Level 1,99999,All industries,Percentage,H36,Current ratio,Financial ratios,78,ANZSIC06 divisions A-S (excluding classes K633...
27,2021,Level 1,99999,All industries,Percentage,H37,Quick ratio,Financial ratios,71,ANZSIC06 divisions A-S (excluding classes K633...

In [6]:
import pandas as pd
df.info() # used to get information about the DataFrame, such as the number of rows, columns, data types, and memory usage.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         28 non-null     int64
 1   Industry_aggregation_NZSIOC  28 non-null     object
 2   Industry_code_NZSIOC         28 non-null     int64
 3   Industry_name_NZSIOC         28 non-null     object
 4   Units                        28 non-null     object
 5   Variable_code                28 non-null     object
 6   Variable_name                28 non-null     object
 7   Variable_category            28 non-null     object
 8   Value                        28 non-null     object
 9   Industry_code_ANZSIC06       28 non-null     object
dtypes: int64(2), object(8)
memory usage: 2.3+ KB